@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }
}
@media (min-width: 900px) {
  .c-hidden {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.c-montserrat {
  font-family: "Montserrat", sans-serif;
}
.c-saira {
  font-family: "Saira", sans-serif;
}
.c-logos {
  background-image: url("..\Assets\paper-textured-background 1 (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 900px) {
  .c-footer {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
  }
}

.links {
  @apply h-[45px]  flex items-center justify-start text-left border-b-2 text-sm leading-[35px] font-normal text-white opacity-80;
}

.c-overlay {
  @apply grid items-center justify-center;
}

.c-text {
  @apply font-normal text-sm leading-[35px] text-[#404040] text-center;
}

.c-card-head {
  @apply text-4xl text-center text-priamry font-semibold;
}

.c-glass-card {
  @apply h-60 w-[300px] backdrop-filter backdrop-blur-md bg-[rgba(255,255,255,0.15)] absolute px-8 py-8 grid   rounded-[5px];
}

.c-glass-text {
  @apply c-saira text-white font-normal text-sm leading-[22px];
}

.c-glass-head {
  @apply c-saira font-medium text-[17px] text-white;
}
